<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fran's Chat</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div id="login">
    <h2>Enter your name.</h2>
		<input type="text" class="nickname" maxlength="20" placeholder="nickname?">
  </div>
	<h1 id="welcomeM"></h1>
	<div id="container" class="container">
		<ul id="messages"></ul>
	</div>
	<form>
		<input class="message" placeholder="Type here" type="text" id="m" autocomplete="off">
	</form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
